<h1>hello world</h1>

<h3>서버 셋팅 완료 테스트</h3>

<h3>서버 셋팅 완료 테스트 2</h3>

<h3>서버 셋팅 완료 테스트 3 2022-02-27 21:08</h3>

<h3>젠킨스 셋팅 테스트</h3>

<ul>
  
<li>1차 웹훅 테스트..!!</li>

<li>2차 main Update 테스트..!!</li>

<li>3차 테스트 키 등록 완료</li>

<li>4차 테스트 빌드 스크립트 수정 완료</li>

<li>6차 테스트 : 권한 추가</li>

<li>7차 테스트 : 빌드 스크립트 수정</li>

<li>8차 테스트 : 빌드 스크립트 수정 2</li>

<li>9차 테스트 : jenkins 계정 생성 및 권한 </li>

<li>10차 테스트 : Docker 컨테이너 공개 키 생성 및 등록</li>

<li>11차 테스트 : 로그 기록 성공, 서버 재시작 로직 추가</li>

<li>12차 테스트 : gunicorn.service 추가 및 재시작 로직 보정</li>

<li>13차 테스트 : git pull </li>

<li>14차 테스트 : 쉘 로직 보정 및 세분화</li>
  
<li>15차 : Docker Jenkins End</li>

<li>16차 : 최종 </li>

<li>17차 : 진짜 최종 </li>
<li>18차 : 진짜 진짜 최종 </li>

</ul>
